*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #8f8f8f;
}

button {
  font: inherit;
}

#app[data-page='intake-blog'] {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
}
